.footer {
  font-weight: 400;
  font-size: 16px;
  padding: 50px 0;

  &__container {
    display: grid;
    grid-template-areas:
    'logo . .'
    'copyright . contact';
    gap: 14px;
  }
  &__logo {
    grid-area: logo;
  }

  &__copyright {
    grid-area: copyright;
    align-self: end;
  }

  &__contact {
    grid-area: contact;
    justify-self: end;

    &-design {
      margin-bottom: 7px;
    }

    &-coder {
    }
  }
}


